<footer class="section footer blur">
    <div class="container max-wrap">
        <div class="container-box">
            <div class="box">
                    <div class="logo"> <i class="fa-solid fa-car-on"></i><h2>CarAuction</h2></div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae minus a iure odio totam, cum adipisci. Numquam sapiente earum sed, sequi ipsum esse, 
                    voluptatum est, fugiat quos amet alias sit vel reprehenderit explicabo nisi 
                    minus consequuntur eum! Enim, nobis dolor!</p>

                    <div class="sci">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-youtube"></i>
                        <i class="fa-brands fa-linkedin-in"></i>
                    </div>
            </div>
            <div class="box">
                <h3>Company</h3>
                <ul>
                    <li><a routerLink="/" >Home</a></li>
                    <li><a routerLink="/" >About</a></li>
                    <li><a routerLink="/" >Car Services</a></li>
                    <li><a routerLink="/" >Blog</a></li>
                    <li><a routerLink="/" >Contact</a></li>
                </ul>
            </div>
            <div class="box">
                <h3>UseFul Links</h3>
                  <ul>
                    <li><a routerLink="/" >Partners</a></li>
                    <li><a routerLink="/login" >Appointments</a></li>
                    <li><a routerLink="/" >Testimonials</a></li>
                    <li><a routerLink="/" >Privacy</a></li>
                    <li><a routerLink="/" >FAQs</a></li>
                </ul>
            </div>
            <div class="box">
                <h3>Contact</h3>

                <p>233 Durban, KwaZulu-Natal, <br>(Smith Street)</p>

                <div class="text">
                    <span>Email Us</span>
                    <p>example&commat;carauction.co.za</p>
                </div>
                 <div class="text">
                    <span>Call Us</span>
                    <p>+012 234 6778 / +012 234 6777</p>
                </div>
            </div>
        </div>

        <div class="divider"></div>

        <app-copyright></app-copyright>
    </div>
    
</footer>
